extends layout

block content
	.container-fluid.main-container.dashboard-container
		.row.dashboard-navbar
			.dashboard-nav.col-sm-3.active#dbPersonalGraphs
				span.glyphicon.glyphicon-stats
				h3 Personal graphs
			.dashboard-nav.col-sm-3#dbFusedGraphs
				span.glyphicon.glyphicon-random
				h3 Fused graphs
			.dashboard-nav.col-sm-3#dbNew
				span.glyphicon.glyphicon-plus
				h3 New graph
			.dashboard-nav.col-sm-3#dbFuse
				span.glyphicon.glyphicon-fire
				h3 Fuse graphs

		.row#dashboard
			.dashboardContainer.active#dbPersonalGraphsContainer

			.dashboardContainer#dbFusedGraphsContainer

			.col-sm-6.dashboardContainer#dbNewContainer
				form#createGraphForm(action='/createGraph', method='post')
					.input-group
						input.form-control(type='text', id='graphName', name='graphName', placeholder='Graph Name')
						span.input-group-btn
							button.btn.btn-default#createGraph(type='submit') Create new graph

			.dashboardContainer#fuseForm
				.col-sm-12
					input.form-control(name='fusionName', id = 'fusionName' placeholder='Fusion Name')
					input(name='numGraphs' id='numGraphs' value='2' hidden)
				.col-sm-6#own-graphs
					h2 Your graphs
					input.form-control.graph-input(name='graph-id1' placeholder='Graph 1' list='datalist-1' onkeyup='delay(populateDropdownOwn(this, "#datalist-1"), 500)')
					datalist#datalist-1
					button.btn.btn-default.btn-add-graph + Add another graph
				.col-sm-6#other-graphs
					h2 Your friends' graphs
					input.form-control.graph-input(name='graph-id2' placeholder='Graph 2' list='datalist-2' onkeyup='delay(populateDropdownOwn(this, "#datalist-2"), 500)')
					datalist#datalist-2
					button.btn.btn-default.btn-add-graph + Add another graph
				.col-sm-12
					button.btn.btn-default#fuseGraphs(type='submit') Fuse plz


	script(type='text/javascript').
		//- currentUser = !{userJSON}
		graphs = !{graphs}
		var fusions = !{fusions}
		appendGraphButtons('#dbPersonalGraphsContainer', graphs);
		appendGraphButtons('#dbFusedGraphsContainer', fusions);

	script(src="../javascripts/dashboard.js")
	script(src='../javascripts/fuse.js')





