extends layout

block content
	.container-fluid.dashboard-container
		h1 Dashboard
		.row#dashboard-menu
			.col-sm-12
				h2 New Graph:
			.col-sm-6
				form#createGraphForm(action='/createGraph', method='post')
					.input-group
						input.form-control(type='text', id='graphName', name='graphName', placeholder='Graph Name')
						span.input-group-btn
							button.btn.btn-default#createGraph(type='submit') Create
		.row#personal-graphs
			.col-sm-12
				h2 Personal Graphs

		.row#group-graphs
			.col-sm-12
				h2 Group Graphs
				div#my_chart


	script(type='text/javascript').
		currentUser = !{user}
		graphs = !{graphs}
		var fusions = !{fusions}
		console.log(fusions);
		appendGraphButtons('#personal-graphs', graphs);
		appendGraphButtons('#group-graphs', fusions);





