extends layout

block content
	.container-fluid.main-container.dashboard-container
		.row.dashboard-navbar
			.dashboard-nav.col-sm-3#dbNew
				span.glyphicon.glyphicon-plus
				h3 New graph
			.dashboard-nav.col-sm-3#dbFuse
				span.glyphicon.glyphicon-fire
				h3 Fuse graphs
			.dashboard-nav.col-sm-3#dbPersonalGraphs
				span.glyphicon.glyphicon-stats
				h3 Personal graphs
			.dashboard-nav.col-sm-3#dbFusedGraphs
				span.glyphicon.glyphicon-random
				h3 Fused graphs
		h1 Dashboard
		.row#dashboard
		.row#dashboard-menu
			//- .col-sm-12
			//- 	h2 New Graph:
			.col-sm-6
				form#createGraphForm(action='/createGraph', method='post')
					.input-group
						input.form-control(type='text', id='graphName', name='graphName', placeholder='Graph Name')
						span.input-group-btn
							button.btn.btn-default#createGraph(type='submit') Create new graph
			.col-sm-6
				a(href='/graph/fuse')
					button.btn.btn-default Fuse
		.row#personal-graphs
			.col-sm-12
				h2 Personal Graphs

		.row#group-graphs
			.col-sm-12
				h2 Group Graphs
				div#my_chart

	script(src="../javascripts/dashboard.js")
	script(type='text/javascript').
		currentUser = !{user}
		graphs = !{graphs}
		var fusions = !{fusions}
		console.log(fusions);
		appendGraphButtons('#personal-graphs', graphs);
		appendGraphButtons('#group-graphs', fusions);





