extends layout

block content
	script(src='../javascripts/bootstrap.min.js')
	script.
		function hellogoodbye() {
			console.log("cmon");
		}
	.container-fluid
		.row
			.col-sm-12
				h1 Fusion baby

		.row
			#fuseForm
				.col-sm-12
					input.form-control(name='fusionName', id = 'fusionName' placeholder='Fusion Name')
					input(name='numGraphs' id='numGraphs' value='2' hidden)
				.col-sm-6#own-graphs
					h2 Your graphs
					input.form-control.graph-input(name='graph-id1' placeholder='Graph 1' list='datalist-1' onkeyup='delay(populateDropdownOwn(this, "#datalist-1"), 500)')
					datalist#datalist-1
					button.btn.btn-default.btn-add-graph + Add another graph
				.col-sm-6#other-graphs
					h2 Your friends' graphs
					input.form-control.graph-input(name='graph-id2' placeholder='Graph 2' list='datalist-2' onkeyup='delay(populateDropdownOwn(this, "#datalist-2"), 500)')
					datalist#datalist-2
					button.btn.btn-default.btn-add-graph + Add another graph
				.col-sm-12
					button.btn.btn-default#fuseGraphs(type='submit') Fuse plz
	script(src='../javascripts/fuse.js')