extends layout

block content
	//- Including Dataset class
	script(src='../javascripts/Dataset.js')
	.container-fluid
		h1= graphName
		.row
			.col-sm-12
				h2 New value
				form(action='/graph/input', method='post')
					input(type='text', id='datepicker', name='date' required)
					input(type='number', id='value', name='value', placeholder='Value' required)
					input(type='string', id='id', name='id' value=graphId hidden required)
					button.btn.btn-default(type='submit') Add

		.row
			.col-md-12.options-group#graph-time-options
				button.btn.btn-default#graph-year-option Year
				button.btn.btn-default#graph-month-option.active Month
				button.btn.btn-default#graph-week-option Week
			.col-md-12
				#date
			.col-md-12
				#graph-container

	script(type='text/javascript').
		/* Initialzing date picker */
		var picker = new Pikaday({
			field: document.getElementById('datepicker'),
			format: 'ddd MMM D, YYYY',
			defaultDate: moment().toDate(),
			setDefaultDate: true,
			onSelect: function() {
			console.log(this.getMoment().format('Do MMMM YYYY'));
			}
		});

	script(type='text/javascript').
		/* Initializing Dataset, default setting graph and default date */
		var graph = !{graph}
		var set = new Dataset(graph.data);
		Graph('#graph-container', set.getCurrentMonth(true));

		var date = moment();
		formatDate('#date', date, 'month');

	script(type='text/javascript').
		/* Document ready */
		$(document).ready(function() {
			$('#graph-time-options > .btn').on('click', function() {
				var id = $(this).attr('id');
				formatDate('#date', date, id);

				$('#graph-container').empty();
				Graph('#graph-container', getDataset(set, $(this).attr('id')));
				$('#graph-time-options > .btn').removeClass('active');
				$(this).addClass('active');
			});
		});

