extends layout

block content
	script(type='text/javascript').
		var graph = !{graph}
		console.log(graph)
	.container-fluid
		h1= graphName
		.row
			.col-sm-12
				h2 New value
				form(action='/graph/input', method='post')
					input(type='text', id='datepicker', name='date')
					input(type='number', id='value', name='value', placeholder='Value')
					input(type='string', id='id', name='id' value=graphId hidden)
					button.btn.btn-default(type='submit') Add


		#graph-container

	script(type='text/javascript').
		/* Initialzing date picker */
		var picker = new Pikaday({
			field: document.getElementById('datepicker'),
			format: 'ddd MMM D, YYYY',
			defaultDate: moment().toDate(),
			setDefaultDate: true,
			onSelect: function() {
			console.log(this.getMoment().format('Do MMMM YYYY'));
			}
		});

	script(type='text/javascript').
		Graph('#graph-container', graph.data);
