extends layout

block content
	script(src='../javascripts/Dataset.js')
	script(type='text/javascript').
		var graph = !{graph}
		console.log(graph)
	.container-fluid
		h1= graphName
		.row
			.col-sm-12
				h2 New value
				form(action='/graph/input', method='post')
					input(type='text', id='datepicker', name='date')
					input(type='number', id='value', name='value', placeholder='Value')
					input(type='string', id='id', name='id' value=graphId hidden)
					button.btn.btn-default(type='submit') Add

		.row
			.col-md-12.options-group#graph-time-options
				button.btn.btn-default#graph-year-option Year
				button.btn.btn-default#graph-month-option.active Month
				button.btn.btn-default#graph-week-option Week
			.col-md-12
				#graph-container

	script(type='text/javascript').
		/* Initialzing date picker */
		var picker = new Pikaday({
			field: document.getElementById('datepicker'),
			format: 'ddd MMM D, YYYY',
			defaultDate: moment().toDate(),
			setDefaultDate: true,
			onSelect: function() {
			console.log(this.getMoment().format('Do MMMM YYYY'));
			}
		});

	script(type='text/javascript').
		var set = new Dataset(graph.data);
		var year = set.getCurrentYear(true);
		console.log(year);
		//- for (var i=0; i<year.length; i++) {
		//- 		console.log(year[i][0]);
		//- 	}
		//- Graph('#graph-container', graph.data);
		Graph('#graph-container', set.getCurrentMonth(true));

	script(type='text/javascript').
		$(document).ready(function() {
			$('#graph-time-options > .btn').on('click', function() {
				$('#graph-container').empty();
				Graph('#graph-container', getDataset(set, $(this).attr('id')))
			});
		});

