extends layout

block content
	//- Including Dataset class
	script(src='../javascripts/Dataset.js')
	script(src='../javascripts/graphing.js')
	.container-fluid.main-container
		.row.graphHeader
			.col-sm-6
				.input-group
					input.form-control.graphNameOption#graphNameInput(value=graphName)
					span.input-group-btn
						button.btn.btn-default.graphNameOption#graphNameUpdate Update
						button.btn.btn-default.graphNameOption#graphNameBack x
				h1.graphNameOption.awake#graphName= graphName
				button.btn.btn-default.graphNameOption.awake#editGraphName(type="button" aria-label="Left Align")
					span.glyphicon.glyphicon-pencil(aria-hidden="true")
		.row
			.col-sm-6
				h3 New point:
				form(action='/graph/input', method='post')#graphInputForm
					input(type='text', id='datepicker', name='date' required)
					input(type='number', id='value', name='value', placeholder='Value' required)
					input(type='string', id='id', name='id' value=graphId hidden required)
					button.btn.btn-default(type='submit') Add
			.col-sm-6
				input(type='text' id='spectrum')
				button.btn.btn-default#changeColour Save colour

		.row.graph-container
			.col-md-12.options-group#graph-time-options
				button.btn.btn-graph-time#graph-year-option Year
				button.btn.btn-graph-time#graph-month-option.active Month
				button.btn.btn-graph-time#graph-week-option Week
			.col-md-12.date
				button.btn.btn-default#backward &lt;
				h3#date
				button.btn.btn-default#forward &gt;
			.col-md-12
				#graph-container

	script(type='text/javascript').
		/* Initialzing date picker */
		var picker = new Pikaday({
			field: document.getElementById('datepicker'),
			format: 'ddd MMM D, YYYY',
			defaultDate: moment().toDate(),
			setDefaultDate: true,
			onSelect: function() {
			console.log(this.getMoment().format('Do MMMM YYYY'));
			}
		});

	script(type='text/javascript').
		/* Initializing Dataset, default setting graph and default date */
		var graph = !{graph}
		console.log(graph);
		var set = new Dataset(graph.data, graph.colour);
		var date = moment();
		var option = $('#graph-time-options > .btn.active').attr('id');
		formatDate('#date', date, 'month');
		var colour = graph.colour;
		Graph('#graph-container', [set.getMonthSet(date, true)], option, [colour]);

		$('#spectrum').attr('value', colour);
		/* Initializing spectrum */
		$('#spectrum').spectrum({
			change: function(tinyColour) {
				colour = tinyColour.toHexString();
				console.log(colour);
				option = $('#graph-time-options > .btn.active').attr('id');
				Graph('#graph-container', [getDataset(set, date, option)], option, [colour]);
			}
		});

	script(src='../javascripts/graph.js')
