extends layout

block content
	.container-fluid.index-container
		h1 Prosion
		a(href='/login')
			button Login
		a(href='/signup')
			button Sign up

	script(type='text/javascript').
		userLoggedOut();