doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	//- link(rel='stylesheet', href='/stylesheets/pykcharts.1.1.0.min.css')
	//- https://github.com/dbushell/Pikaday
	link(rel='stylesheet', href='/stylesheets/pikaday.css')
	//- https://bgrins.github.io/spectrum/
	link(rel='stylesheet', href='/stylesheets/spectrum.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
		
	script(src='/javascripts/jquery-2.1.4.min.js')
	script(src='/javascripts/d3.min.js')
	//- script(src='/javascripts/pykcharts.1.1.0.min.js')
	script(src='/javascripts/moment-with-locales.js')
	script(src='/javascripts/pikaday.js')
	script(src='/javascripts/spectrum.js')
	script(src='/javascripts/script.js')

	body
		nav.navbar.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					a.navbar-brand(href="/") Prosion
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li
					ul.nav.navbar-nav.navbar-right
						li.user-nav
							a(href="/profile")
								img#userImage
								span#userName username
						li.user-nav
							a(href='/logout') Logout
					form.navbar-form.navbar-right(role="search")
						.form-group.user-nav
							input.form-control#searchFriendsName(type="text" placeholder="Search people" list='searchFriendsList' onkeyup='delay(populateDropdownSearch(this, "#searchFriendsList"), 500)')
						button.btn.btn-default.user-nav#searchFriends Search
					datalist#searchFriendsList

		block content
			
	script.
		var currentUser = null;

	if user != null
		script.
			console.log("inside");
			currentUser = !{user};
	else
		script.
			currentUser = null;
	//- else
	//- 	script.
	//- 		console.log("not inside");
	//- 		currentUser = null;

	script.
		//- console.log(currentUser);
		if (currentUser) {
			userLoggedIn(currentUser);
		}
		
