doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/pykcharts.1.1.0.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
		
	script(src='/javascripts/jquery-2.1.4.min.js')
	script(src='/javascripts/d3.min.js')
	script(src='/javascripts/pykcharts.1.1.0.min.js')
	script(src='/javascripts/script.js')

	body
		nav.navbar.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					a.navbar-brand(href="/") Prosion
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li
					ul.nav.navbar-nav.navbar-right
						li.user-nav
							a(href="/profile")
								img#userImage
								span#userName username
						li.user-nav
							a(href='/logout') Logout

		block content
