body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


nav {
	background-color: black;
	color: white;
}

textarea {
	resize: none;
}

*:focus {
	outline: none !important;
}

.navbar-brand {
	color: white;
}

#userImage {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: white;
	display: inline-block;
}

#userName {
	vertical-align: top;
	margin-left: 5px;
}

.nav>li.user-nav, .navbar-form>.user-nav {
	display: none;
}

.nav>li.user-nav.loggedIn {
	display: block;
}

.navbar-form>.user-nav.loggedIn {
	display: inline-block;
}

.navbar-nav>li.user-nav>a {
	padding-bottom: 10px;
}

.index-container, .login-container, .signup-container {
	text-align: center;
}

.index-container button {
	padding: 15px;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
}

.signup input, .login input {
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.login-button {
	padding: 10px;
}

#allUsers {
	width: 100%;
	text-align: center;
}

#allUsers th, #allUsers tr, #allUsers td {
	padding: 10px;
	text-align: left;
}


.table-hover>tbody>tr.no-hover, .table-hover>tbody>tr.no-hover:hover {
	background-color: #f9f9f9;
}

.profile {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px 0px;
}

.password {
	padding: 20px 0px;
}

.profileImage {
	width: 100%;
	max-width: 250px;
	max-height: 250px;
}

.edit-container input {
	padding: 5px;
}

.adminOptions .row {
	padding-top: 10px;
}

.adminOptions a {
	color: black;
}

#deleteUserButton, #toggleAdminButton {
	display: none;
}

#userBehaviours {
	display: none;
}

/*******************
DASHBOARD
*******************/

.dashboard-graph {
	text-align: center;
	padding: 5px;
}

.btn-graph {
	width: 100%;
}

.btn-graph p {
	margin: 0;
	overflow: hidden;
}

/******************
GRAPH
******************/

.graphHeader {
	margin-top: 20px;
}

.graphHeader h1 {
	margin-top: 0;
}

.graphNameOption, .input-group .form-control.graphNameOption {
	display: none;
}

.graphNameOption.awake, .input-group .form-control.graphNameOption.awake {
	display: inline-block;
}

#editGraphName {
	margin-bottom: 15px;
	margin-left: 15px;
}

#graphNameInput {
	padding-left: 15px;
	font-size: 18px;
}

.graph-container {
	text-align: center;
}

#graphInputForm > * {
	margin-right: 10px;
}

#graphInputForm input {
	text-align: center;
	padding: 6px;
}

.date > * {
	display: inline-block;
	vertical-align: middle;
}

.date #weekSubheader {
	font-size: 18px;
}

.date #backward {
	margin-top: 10px;
	margin-right: 15px;
}

.date #forward {
	margin-top: 10px;
	margin-left: 15px;
}

.options-group .btn {
	opacity: 0.65;
	padding: 6px 20px;
}

.options-group .btn.active {
	opacity: 1;
}

.options-group>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.options-group>.btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.options-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#savedMessage {
	display: inline-block;
}

.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}

svg .axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

svg .axis text {
	font-family: sans-serif;
	font-size: 12px;
}