/*
MAIN BACKGROUND COLOR: #383840;
MAIN TEXT COLOR: #E1E3E6;
MAIN HOVER COLOR: #afafb2;
SELECTED HOVER : #C0D890;
*/
body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px Helvetica;
  background-color: #383840;
}

h1, h2, h3, h4 ,h5, h6, span {
	color: #E1E3E6;
}

a {
  color: #E1E3E6;
}

a:focus, a:hover {
	color: #afafb2;
}

nav {
	background-color: #383840;
	color: #E1E3E6;
}

textarea {
	resize: none;
}

*:focus {
	outline: none !important;
}

.navbar-brand {
	color: white;
}

#userImage {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: white;
	display: inline-block;
}

#userName {
	vertical-align: top;
	margin-left: 5px;
}

nav > .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}

.nav>li.user-nav, .navbar-form>.user-nav {
	display: none;
}

.nav>li.user-nav.loggedIn {
	display: block;
}

.navbar-form>.user-nav.loggedIn {
	display: inline-block;
}

.navbar-nav>li.user-nav>a {
	padding-bottom: 10px;
}

.main-container {
	padding: 55px;
	padding-top: 75px;
}

.index-container, .login-container, .signup-container {
	text-align: center;
}

.signup input, .login input {
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.login-button {
	padding: 10px;
}

#allUsers {
	width: 100%;
	text-align: center;
}

#allUsers th, #allUsers tr, #allUsers td {
	padding: 10px;
	text-align: left;
}


.table-hover>tbody>tr.no-hover, .table-hover>tbody>tr.no-hover:hover {
	background-color: #f9f9f9;
}

.profile {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px 0px;
}

.password {
	padding: 20px 0px;
}

.profileImage {
	width: 100%;
	max-width: 250px;
	max-height: 250px;
}

.edit-container input {
	padding: 5px;
}

.adminOptions .row {
	padding-top: 10px;
}

.adminOptions a {
	color: black;
}

#deleteUserButton, #toggleAdminButton {
	display: none;
}

#userBehaviours {
	display: none;
}

/*******************
INDEX
*******************/

.index-container {
	padding-top: 50px;
	padding-left: 0;
	padding-right: 0;
	color: #E1E3E6;
}

.header {
	height: 450px;
	/*height: 100vh;*/
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
/*	background: url('/images/road_progress.jpeg');
	background-size: cover;*/
}

.header h1 {
	font-size: 60px;
	text-align: center;
	font-weight: 300;
}

.header button {
	padding: 10px 35px;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 2px;
	background-color: #E1E3E6;
	border: 2px solid #96868E;
}

.header .signup {
	margin-top: 20px;
}


/*******************
DASHBOARD
*******************/

.dashboard-graph {
	text-align: center;
	padding: 5px;
}

.btn-graph {
	width: 100%;
}

.btn-graph p {
	margin: 0;
	overflow: hidden;
}

.dashboard-nav {
	border: 1px solid #E1E3E6;
	text-align: center;
	padding: 10px;
	height: 100px;
}

.dashboard-nav:hover {
	background-color: #afafb2;;
	cursor: pointer;
}

.dashboard-nav .glyphicon {
	font-size: 2.25em;
}
/******************
GRAPH
******************/

.graphHeader {
	margin-top: 20px;
}

.graphHeader h1 {
	margin-top: 0;
}

.graphNameOption, .input-group .form-control.graphNameOption {
	display: none;
}

.graphNameOption.awake, .input-group .form-control.graphNameOption.awake {
	display: inline-block;
}

#editGraphName {
	margin-bottom: 15px;
	margin-left: 15px;
}

#graphNameInput {
	padding-left: 15px;
	font-size: 18px;
}

.graph-container {
	text-align: center;
}

#graph-container {
	background-color: #E1E3E6;
	padding-top: 20px;
	padding-bottom: 20px;
}

#graphInputForm > * {
	margin-right: 10px;
}

#graphInputForm input {
	text-align: center;
	padding: 6px;
}

/*MAIN BACKGROUND COLOR: #383840;
MAIN TEXT COLOR: #E1E3E6;
MAIN HOVER COLOR: #afafb2;
SELECTED HOVER : #C0D890;*/
.btn-graph-time {
	background-color: white;
}

.date > * {
	display: inline-block;
	vertical-align: middle;
}

.date #weekSubheader {
	font-size: 18px;
}

.date #backward {
	margin-top: 10px;
	margin-right: 15px;
}

.date #forward {
	margin-top: 10px;
	margin-left: 15px;
}

.options-group .btn {
	opacity: 0.65;
	padding: 6px 20px;
}

.options-group .btn.active {
	opacity: 1;
}

.options-group>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.options-group>.btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.options-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#savedMessage {
	display: inline-block;
}

.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}

svg .axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	stroke-width: 3px;
}

svg .axis-text {
	font-weight: 500;
	font-size: 20px;
} 

svg .axis text {
	font-family: sans-serif;
	font-size: 12px;
}ƒ

/******************
PEOPLE
******************/

.peopleImage {
	background-size: cover;
	height: 50px;
	width: 50px;
	border-radius: 50px;

}